<%- include('layouts/header') %>
<main>
  <div id="top-banner-container">
    <div id="status-container">
      <div id="toolStatus" style="border: 2px solid black"><span><span class="las la-pen-alt"></span>Pen</span></div>
      <div id="membersStatus" style="border: 2px solid black"><span><span class="las la-user-alt-slash"></span>0 online</span></div>
      <div id="disconnectBtn" style="border: 2px solid red"><span><span class="las la-sign-out-alt"></span>Logout</span></div>
    </div>
    <div id="members-container"><span></span></div>
    <div id="tool-picker-container" class="picker-container"></div>
    <div id="color-picker-container" class="picker-container"></div>
    <div id="size-picker-container" class="picker-container"><input id="sizePickerSlider" type="range" min="2" max="60" value="2" class="sizeSlider"></div>
  </div>
  <div id="main-container">
    <canvas id="myCanvas" resize></canvas>
  </div>

  <div id="login-overlay">
    <form id="login-form">
      <h1>lcd-board</h1>
      <input id="usernameField" name="username" type="text" placeholder="Username">
      <input id="roomField" name="room" type="text" placeholder="Room">
      <input name="login" type="submit" value="Login">
    </form>
  </div>

  <script type="text/javascript" src="js/lib/paper-full.min.js"></script>
  <script type="text/javascript" src="socket.io/socket.io.js"></script>
  <script type="text/javascript" src="js/bundle.js"></script>
</main>
<%- include('layouts/footer') %>
