<%- include('layouts/header') %>
<main>
  <div id="main-container">
    <div>
      <div class="room-info">
        <div class="members-container">
          Members:
          <div class="members"></div>
        </div>
      </div>

      <div id="tool-picker-container" class="pickerContainer"></div>
      <div id="color-picker-container" class="pickerContainer"></div>
      <div id="size-picker-container" class="pickerContainer"></div>
    </div>
    <canvas id="myCanvas" resize></canvas>
  </div>

  <div id="login-overlay">
    <form id="login-form">
      <input name="username" type="text" placeholder="Username">
      <input name="room" type="text" placeholder="Room">
      <input name="login" type="submit" value="Login">
    </form>
  </div>

  <script type="text/javascript" src="js/lib/paper-full.min.js"></script>
  <script type="text/javascript" src="socket.io/socket.io.js"></script>
  <script type="text/javascript" src="js/bundle.js"></script>
</main>
<%- include('layouts/footer') %>
