<%- include('layouts/header') %>
<main>
  <div>
    <form id="login-form">
      <label for="username">Username:</label>
      <input name="username" type="text">
      <label for="room">Room:</label>
      <input name="room" type="text">
      <input name="login" type="submit" value="Login">
    </form>

    <div class="room-info">
      <div class="members-container">
        Members:
        <div class="members"></div>
      </div>
    </div>

    <div id="toolPickerContainer"></div>
  </div>
  <canvas id="myCanvas" resize></canvas>

  <script type="text/javascript" src="js/lib/paper-full.min.js"></script>
  <script type="text/javascript" src="socket.io/socket.io.js"></script>
  <script type="text/javascript" src="js/bundle.js"></script>
</main>
<%- include('layouts/footer') %>
