/* Scale canvas with resize attribute to full size */
html, body {
  margin: 0;
  height: 100%;
}

#toolPicker {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 10;
}

.colorOption {
  width: 22px;
  height: 22px;
  margin: 8px 2px;
  display: inline-block;
  appearance: none;
  border: 1px solid black;
  border-radius: 11px;
}

canvas[resize] {
  position: absolute;
  height: calc(100% - 38px);
  width: 100%;
  top: 38px;
  bottom: 0;
  left: 0;
  right: 0;
}
