<div class="showcase-grid">
<!--
  <div class="showcase-category">
    <h2>Popular Rooms</h2>
    <div class="category-item-container">
      <div class="category-item">
        <span>RoomABC by 123</span>
        <div class="category-buttons"><a>Join</a></div>
      </div>
      <div class="category-item">
        <span>RoomDEF by 456</span>
        <div class="category-buttons"><a>Join</a></div>
      </div>
    </div>
  </div>
  <div class="showcase-category">
    <h2>Past Joined Rooms</h2>
    <div class="category-item-container">
      <div class="category-item">
        RoomABC by 123
      </div>
      <div class="category-item">
        RoomDEF by 456
      </div>
    </div>
  </div>
  <div class="showcase-category">
    <h2>Favourite Rooms</h2>
    <div class="category-item-container">
      <div class="category-item">
        RoomABC by 123
      </div>
      <div class="category-item">
        RoomDEF by 456
      </div>
    </div>
  </div>
  <div class="showcase-category">
    <h2>Favourite Drawings</h2>
    <div class="category-item-container">
      <div class="category-item">
        lalala
      </div>
      <div class="category-item">
        testing
      </div>
    </div>
  </div>
-->
</div>
