<div class="showcase-grid">
  <div class="showcase-category">
    <strong>Popular Rooms</strong>
  </div>
  <div class="showcase-category">
    <strong>Favourite Rooms</strong>
  </div>
  <div class="showcase-category">
    <strong>Favourite Drawings</strong>
  </div>
</div>
<div class="login-overlay">
  <form id="login-form">
    <input id="usernameField" name="username" type="text" placeholder="Username">
    <input id="roomField" name="room" type="text" placeholder="Room">
    <input name="login" type="submit" value="Join Room">
    <a href="#">Dashboard</a>
  </form>
</div>
