<div class="search-container">
  <form id="search-form">
    <div class="search-bar-container">
      <input id="search-bar" class="search-bar" type="search" name="room-search" placeholder="Type something to search for rooms!"></input>
      <input id="search-submit" class="search-submit" value="Search" type="submit"></input>
    </div>
    <div class="search-hint">
      Your search may include properties of a room in specified formats.
      <br>For example, you can include one or more of the following in your search query:
      <br>
      <code>room name</code><code>roomID</code><code>@ owner username ;</code>
      <code>% whiteboard name ;</code><code>isPublic=yes;</code><code>isActive=yes;</code>
    </div>
  </form>
  <div class="search-grid">
  </div>
</div>
